.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carregar-mais {
    margin: 2%;
}

@media screen and (max-width: 768px) {
    .main-content svg {
        width: 100%;
    }
}