.top-filters {
    display: flex;
    justify-content: flex-end;
    margin-left: 60%;
    max-width: 40%;
    padding-top: 2%;
}

.top-filters input {
    margin-right: 20px;
}

.filters {
    display: flex;
    justify-content: flex-end;
}

.topo-destaque {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
    text-align: center;
}

.topo {
    border: 1px solid var(--black);
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    margin-top: 1%;
    justify-self: center;
}

.topo-icon {
    font-size: 8rem;
    padding: 20px;
    overflow: auto;
}