.top-filters {
    display: flex;
    margin-left: 60%;
    margin-top: 3%;
    justify-content: flex-end;
    max-width: 40%;
}

.top-filters input {
    margin-right: 20px;
}

.filters {
    display: flex;
    justify-content: flex-end;
}

.topo-destaque {
    flex-direction: column;
    justify-content: center;
    height: calc(45vh - 40px);
    text-align: center;
}

.topo {
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    margin-top: 1%;
    justify-self: center;
}

.topo-icon {
    font-size: 8rem;
    padding: 20px;
    overflow: auto;
}