.topo-destaque {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
    text-align: center;
    margin-top: 4%;
}

.topo {
    border: 1px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    display: inline-block;
    justify-content: center;
    margin-top: 1%;
    justify-self: center;
}

.topo-icon {
    color: var(--white);
    font-size: 8rem;
    padding: 20px;
    overflow: auto;
}