.top-filters {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    max-width: 40%;
    padding-top: 2%;
}

.filters {
    display: flex;
    justify-content: flex-end;
}