.article-odd, .article-even {
    border: 1px solid var(--white);
    border-radius: 2px;
    display: flex;
    flex: 1;
    margin: 2% auto;
    padding: 1%;
    transition: .5s;
    width: 70%;
}

.article-odd:hover, .article-even:hover {
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 1%;
}

.article-even {
    flex-direction: row-reverse;
}

.article-text {
    margin: 1% auto;
}

.article-img {
    border-radius: 20px;
    height: 16rem;
    object-fit: cover;
    margin: 0 auto;
    width: 16rem;
}

.article-odd .article-img {
    margin-right: 2%;
}

.date-source {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
}

.article-date {
    margin: 0;
}

.btn-source {
    background-color: var(--black);
    border: none;
    margin-right: 2%;
}

.btn-source:hover {
    background-color: var(--orange);
}