.modal-visible {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    border: none;
    color: var(--black);
    padding: 10px;
}

.modal-dialog {
    max-width: 70%;
}

.modal-dialog .article-img {
    width: 95%;
}

.modal-body {
    display: flex;
}